<div class="body d-flex flex-column mx-auto justify-content-center align-items-center">
  <div class="main col-11 col-sm-10 col-md-9 col-lg-7 m-4">
    <form [formGroup]="dateInputForm" (ngSubmit)="onSubmit()" class="row justify-content-center">
      <div class="w-100">
        <div class="row input-fields">
          <div class="col-4"
            [ngClass]="dateInputForm.get('dayInput')?.invalid && (dateInputForm.get('dayInput')?.dirty || dateInputForm.get('dayInput')?.touched) || emptyFields || !validLastDay ? 'error' : ''">
            <label for="dayInput" class="input-label mb-2">Day</label>
            <input type="number" formControlName="dayInput" name="dayInput" class="form-control px-3" id="dayInput"
              placeholder="DD">
            <div class="mt-2 error-msg-container">
              <div
                *ngIf="dateInputForm.get('dayInput')?.invalid && (dateInputForm.get('dayInput')?.dirty || dateInputForm.get('dayInput')?.touched) || emptyFields">
                <div *ngIf="dateInputForm.get('dayInput')?.errors?.['required']" class="error-msg">This field
                  is required
                </div>
                <div
                  *ngIf="dateInputForm.get('dayInput')?.errors?.['max'] || dateInputForm.get('dayInput')?.errors?.['min']"
                  class="error-msg">
                  Must be a valid day
                </div>
              </div>
              <div *ngIf="!validLastDay" class="error-msg">
                Must be a valid date
              </div>
            </div>
          </div>
          <div class="col-4"
            [ngClass]="dateInputForm.get('monthInput')?.invalid && (dateInputForm.get('monthInput')?.dirty || dateInputForm.get('monthInput')?.touched) || emptyFields || !validLastDay ? 'error' : ''">
            <label for="monthInput" class="input-label mb-2">Month</label>
            <input type="number" formControlName="monthInput" name="monthInput" class="form-control px-3"
              id="monthInput" placeholder="MM" required>
            <div
              *ngIf="dateInputForm.get('monthInput')?.invalid && (dateInputForm.get('monthInput')?.dirty || dateInputForm.get('monthInput')?.touched) || emptyFields"
              class="mt-2">
              <div *ngIf="dateInputForm.get('monthInput')?.errors?.['required']" class="error-msg">
                This field is required
              </div>
              <div
                *ngIf="dateInputForm.get('monthInput')?.errors?.['max'] || dateInputForm.get('monthInput')?.errors?.['min']"
                class="error-msg">
                Must be a valid month
              </div>
            </div>
          </div>
          <div class="col-4"
            [ngClass]="dateInputForm.get('yearInput')?.invalid && (dateInputForm.get('yearInput')?.dirty || dateInputForm.get('yearInput')?.touched) || emptyFields || !validLastDay ? 'error' : ''">
            <label for="yearInput" class="input-label mb-2">Year</label>
            <input type="number" formControlName="yearInput" name="yearInput" class="form-control px-3" id="yearInput"
              placeholder="YYYY" required>
            <div
              *ngIf="dateInputForm.get('yearInput')?.invalid && (dateInputForm.get('yearInput')?.dirty || dateInputForm.get('yearInput')?.touched) || emptyFields"
              class="mt-2">
              <div *ngIf="dateInputForm.get('yearInput')?.errors?.['required']" class="error-msg">
                This field is required
              </div>
            </div>
            <div *ngIf="dateInputForm.get('yearInput')?.errors?.['max'] || !validFullDate" class="error-msg">
              Must be in the past
            </div>
          </div>
        </div>
      </div>
      <div class="col-11 border-bottom border-gray position-relative mb-5 mt-4 btn-container">
        <button
          class="btn d-flex justify-content-center align-items-center rounded-circle position-absolute top-50 start-100 translate-middle submit-btn"
          type="submit">
          <img src="assets/images/icon-arrow.svg" alt="submit button">
        </button>
      </div>
    </form>
    <div class="age-calculator-results px-3">
      <p class="text-black"><span class="text-purple">{{yearDisplay}} </span>years</p>
      <p class="text-black"><span class="text-purple">{{monthDisplay}} </span>months</p>
      <p class="text-black"><span class="text-purple">{{dayDisplay}} </span>days</p>
    </div>
  </div>
</div>