.body {
  min-height: 100vh;
  background-color: var(--Light-grey);
}

.main {
  background-color: var(--White);
  border-radius: 25px;
  border-bottom-right-radius: 30%;
  padding: 3.3rem 5rem 3.5rem 2.5rem;
}

.input-fields {
  width: 80%;
}

.input-label {
  font-family: 'Poppins-Bold';
  font-size: 14px;
  text-transform: uppercase;
  color: var(--Smokey-grey);
  letter-spacing: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

input::placeholder {
  color: var(--Smokey-grey);
  font-family: 'Poppins-Bold';
}

input[type="number"] {
  color: var(--Off-black);
  font-family: 'Poppins-Bold';
  border: 1px solid var(--Light-grey);
  cursor: pointer;
  font-size: calc(15px + 0.990625vw);
  padding-top: .7rem;
  padding-bottom: .7rem;
}

input[type="number"]:focus {
  border: 1px solid var(--Purple);
  box-shadow: none !important;
}

.border-gray {
  border-bottom: 1px solid var(--Light-grey) !important;
}

.error-msg-container {
  height: 20px;
}

.error-msg {
  color: var(--Light-red);
  font-family: 'Poppins-Italic';
  font-size: 14px;
}

.submit-btn {
  width: 94px;
  height: 94px;
  background-color: var(--Purple);
}

.submit-btn:hover {
  background-color: var(--Off-black);
}

.age-calculator-results {
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.age-calculator-results p {
  font-size: calc(15px + 5.990625vw);
  font-family: 'Poppins-ExtraOldItalic';
  margin-bottom: -2.3rem;
}

.age-calculator-results p.text-black {
  color: var(--Off-black);
}

.age-calculator-results span.text-purple {
  color: var(--Purple);
}

.error label {
  color: var(--Light-red)
}

.error input[type="number"] {
  border: 1px solid var(--Light-red);
}

@media screen and (max-width: 768px) {
  .main {
    padding-right: 4rem;
    padding-left: 2rem;
  }

  .input-fields {
    width: 90%;
  }

  .submit-btn {
    width: 75px;
    height: 75px;
  }

  .age-calculator-results p {
    margin-bottom: -1.3rem !important;
  }
}

@media screen and (max-width: 580px) {
  .input-fields {
    width: 100%;
  }

  .main {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .input-fields>div {
    padding-right: 0;
  }

  .input-label {
    font-size: 12px;
  }

  .btn-container {
    margin-left: 3em;
    margin-right: 2em;
  }

  .submit-btn {
    right: 42% !important;
    width: 60px;
    height: 60px;
  }

  .submit-btn img {
    width: 100%;
  }

  .start-100 {
    left: 50% !important;
  }

  .age-calculator-results {
    padding: 0 !important;
  }

  .age-calculator-results p {
    font-size: calc(15px + 9vw);
  }
}

@media screen and (max-width: 345px) {
  .main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
